@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    color: #333;
    background-image: url('ryu.jpg');
    background-size: cover;
    background-color: #000000;   /*MUST BE USED WITH background-blend-mode*/
    background-blend-mode: screen;  /*MUST BE USED WITH background-color*/
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LAYOUT */
main {
    position: relative;
    width: 1500px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.35);
    /*backdrop-filter: blur(200px);*/
    /*filter: blur();*/
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    overflow: hidden;
    display: flex;
}

.player {
    flex: 50%;
    padding: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.35s;
}
.player--1 {
    background-color: rgba(209, 38, 50, 0.7);
}

.player--2 {
    background-color: rgba(59, 93, 187, 0.7);
}

.player--active {
    border: solid;
    border-width: 2px;
    border-color: #ced8ed;
    border-radius: 9px;
}

.player--active .name {
    font-weight: bolder;
}

.player--active .score {
    font-weight: bolder;
}

.player--active .current {
    opacity: 1;
    border: solid;
    border-width: 1px;
    border-color: #ced8ed;
}

/*Resize with the max-width property*/
/*Using the max-width property allows the image to maintain its exact aspect ratio*/
.ken {
    height: auto;
    max-width: 20%;
    position: absolute;
    left: 10px;
}

.akuma {
    height: auto;
    max-width: 25%;
    position: absolute;
    right: -90px;
    top: 100px;
}

.health {
    width: 550px;
    height: 40px;
}

h3 {
    color: white;
    text-shadow:
        -3px -3px 1px #26346c,
        3px -3px 1px #26346c,
        -3px 3px 1px #26346c,
        3px 3px 1px #26346c;
    font-size: 7rem;
    font-weight: 900;
    position: absolute;
    letter-spacing: -12px;
    top: 24px;
    left: 707px;
    z-index: 10;
}

progress {
    -webkit-appearance: none;
    border-style: solid;
    border-color: white;
    border-radius: 3px;
    position: absolute;
}

.hlth-bar--1 {
    top: 50px;
    left: 170px;
}

.hlth-bar--1::-webkit-progress-bar {
    background-color: #fb0017;
}

.hlth-bar--1::-webkit-progress-value {
    background-color: #fefb34;
}

.hlth-bar--1::-webkit-progress-value {
    background-color: #fefb34;
}

.hlth-bar--2 {
    top: 50px;
    right: 170px;
    transform: rotate(-180deg);
}

.hlth-bar--2::-webkit-progress-bar {
    background-color: #fb0017;
}

.hlth-bar--2::-webkit-progress-value {
    background-color: #fefb34;
}

.name {
    position: relative;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 300;
    margin-bottom: 1rem;
}

.score {
    font-size: 8rem;
    font-weight: 300;
    /*margin-bottom: auto;*/
}


.current {
    background-image: linear-gradient(135deg, #ffbc1f, #fefd43 35%, #fefedd);
    width: 100%;);
    opacity: 0.8;
    border-radius: 9px;
    color: #201e1e;
    width: 65%;
    padding: 2rem;
    text-align: center;
    transition: all 0.75s;
}

.current-label {
    text-transform: uppercase;
    margin-bottom: 16px;
    font-size: 1.7rem;
    color: #201e1e;
}

.current-score {
    font-size: 3.5rem;
}

.dice--1 {
    position: absolute;
    left: 45%;
    top: 165px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
}

.dice--2 {
    position: absolute;
    left: 55%;
    top: 165px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow:0 20px 50px rgba(0, 0, 0, 0.2);
}

.btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #201e1e;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    /*transition: all 0.2s;*/

    background-image: linear-gradient(135deg, #ffbc1f, #fefd43 35%, #fefedd);
    backdrop-filter: blur(10px);

    padding: 0.7rem 2.5rem;
    border-radius: 50rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn--menu {
    top: 53rem;
}
.btn--roll {
    top: 39.3rem;
}
.btn--hold {
    top: 46.1rem;
}

.btn:active {
    transform: translate(-50%, 3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:hover {
    color: #ced8ed;
    border: solid 1px #ced8ed;
}

.btn:focus {
    outline: none;
}

/* Win Screen */

.hidden {
    display: none;
}

.win-screen {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f9f30e;
    z-index: 20;
}

.win-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: #f9d60e;
    border-radius: 50%;
}

.btn--win {
    position: static;
    align-self: end;
    margin-bottom: 10px;
}